<div class="main-agileits">
  <h1>Grading System</h1>
  <div class="mainw3-agileinfo form">
    <div id="login">    
      <form action="#" method="post"> 
        <div class="field-wrap">
         <!-- <label> Enter Your Stuff No<span class="req">*</span> </label>-->
          <input type="text" [(ngModel)]="stuff.Stuff_No" name="stuffNo" placeholder="Your Email Address or Staff No." required autocomplete="off"/>
        </div> 
        <div class="field-wrap">
         <!-- <label> Your Password<span class="req">*</span> </label>-->
          <input type="password" [(ngModel)]="stuff.Password" name="password" placeholder="Your Password" required autocomplete="off"/>
        </div> 
        <p class="forgot"><a href="#">Forgot Password?</a></p> 
        <button class="button button-block"  (click)="isLogged()">Log In <i class="fa fa-circle-o-notch fa-spin" *ngIf="show" style="font-size:24px"></i></button> 
      </form> 
    </div>
       
  </div>	
</div>	
<!-- //main -->
<!-- copyright -->
<div class="w3copyright-agile" >
  <b><p style="color: #05e0e2">© 2018 Grading System. All rights reserved </p></b>
</div>