<div class="container-fluid" style="margin-top: 30px;">
  <div class="row" style="background-color: aliceblue">
    <div class="col-lg-12">
        <!--<div style="margin-top: 20px; margin-bottom: 50px">
            <h4 class="text-right">Predicate: {{ total | number:'1.1-1' }}</h4>
        </div>-->
        <div class="row">
          <div class="col-lg-12">
              <label class="radio-inline"><input type="radio" value="1" [(ngModel)]="optradio" name="optradio"> Individual</label>
              <label class="radio-inline"><input type="radio" value="2" [(ngModel)]="optradio" name="optradio"> Group</label>
          </div>
        </div>
        <form *ngIf="optradio == 2" style="margin-top: 20px; margin-bottom: 50px">
           <fieldset>
             <div class="row">
                <div class="col-lg-6">
                    <label>Select Group:</label>
                    <select class="form-control" style="height:40px" [(ngModel)]="student.studGroup" (ngModelChange)="selectedGroup($event)" name="group">
                        <option value="0" selected disabled>Select Group</option>
                        <option *ngFor="let s of group;let x = index" [ngValue]="s.Group_Id">{{ s.Group_Name }}</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label>Select the assessment:</label>
                    <select class="form-control" [(ngModel)]="task" name="taskId" (ngModelChange)="onChange($event)">
                      <option value="0" selected disabled>Select Assessment</option>
                      <option *ngFor="let s of tasks" [value]="s.assessment_Id">{{ s.assessment_Desc }}</option>
                    </select>
                </div>
             </div>
           </fieldset>
        </form>
        
        <form *ngIf="optradio == 1">
            <caption class="text-center"><h3>Student Details</h3></caption>
          <fieldset>
            <div class="row">
              <div class="col-lg-4">
                <label>Student Number:</label>
                <select class="form-control" style="height:40px" [(ngModel)]="student.studNo" (ngModelChange)="onChangeObj($event)" name="group">
                  <option value="0" selected disabled>Select Student</option>
                  <option *ngFor="let s of groups;let x = index" [ngValue]="s">{{ s.student_Number }} ({{ s.student_FName | slice:0:1}}, {{s.student_LName}})</option>
                </select>
              </div>
              <div class="col-lg-4">
                <label>First Name:</label>
                <input class="form-control" [(ngModel)]="student.studInitials" name="initials" style="height:40px" type="text" placeholder="Enter student initials">
            </div>
              <div class="col-lg-4">
                  <label>Last Name:</label>
                  <input class="form-control" [(ngModel)]="student.studSurname" name="surname" style="height:40px" type="text" placeholder="Enter student surname">
              </div>
            </div>
            <div class="row" style="margin-top:10px; margin-bottom: 55px">
                <div class="col-lg-6">
                    <label>Project Name:</label>
                    <input class="form-control" [(ngModel)]="student.projectName" name="projectName" style="height:40px" type="text" placeholder="Enter student group">
                </div>
                <div class="col-lg-6">
                    <label>Select the assessment:</label>
                    <select class="form-control" [(ngModel)]="task" name="taskId" (ngModelChange)="onChange($event)">
                      <option value="0" selected disabled>Select Assessment</option>
                      <option *ngFor="let s of tasks" [value]="s.assessment_Id">{{ s.assessment_Desc }}</option>
                    </select>
                </div>
            </div>
          </fieldset>
        </form>
        <div class="row" style="margin-top: 10px" *ngIf="students.length > 0 && optradio == 2">
            <div class="col-lg-12">
                <table class="table table-bordered">
                    <thead>
                      <tr class="tabl">
                        <th>#</th>
                        <th>Student No.</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Project Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let stud of students; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{stud.student_Number}}</td>
                        <td>{{stud.student_FName}}</td>
                        <td>{{stud.student_LName}}</td>
                        <td>{{stud.student_ProjectName}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>

    </div>
  </div>
  
  <div class="row" *ngIf="task == 1" style="margin-top: 20px; background-color: aliceblue">
    <div class="col-lg-12">
       <app-first-assessment [assessment]="assessment" 
                             [student]="student" [optradio]="optradio"
                             [students]="students"></app-first-assessment>
    </div>
  </div>

  <!--Assessment 2-->
  <div class="row" *ngIf="task == 2" style="margin-top: 20px; background-color: aliceblue">
    <div class="col-lg-12">
      <app-second-assessment [assessment]="assessment" 
                            [student]="student" [optradio]="optradio"
                            [students]="students"></app-second-assessment>
    </div>
  </div>
  <!--Assessment 3-->
  <div class="row" *ngIf="task == 3" style="margin-top: 20px; background-color: aliceblue">
    <div class="col-lg-12">
       <app-third-assessment [assessment]="assessment" 
                              [student]="student" [optradio]="optradio"
                              [students]="students"></app-third-assessment>
    </div>
  </div>

  <div class="row" *ngIf="task == 4" style="margin-top: 20px; background-color: aliceblue">
      <div class="col-lg-12">
        <app-fourth-assessment [assessment]="assessment" 
                                [student]="student" [optradio]="optradio"
                                [students]="students"></app-fourth-assessment>
      </div>
    </div>

    <div class="row" *ngIf="task == 5" style="margin-top: 20px; background-color: aliceblue">
        <div class="col-lg-12">
          <app-fifth-assessment [assessment]="assessment" 
                                [student]="student" [optradio]="optradio"
                                [students]="students"></app-fifth-assessment>
        </div>
      </div>
</div>
