<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Grading System</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">{{ currentUser.role_Desc }}</a></li>
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="http://phpoll.com/login" class="dropdown-toggle">{{ currentUser.staff_FName }}, {{ currentUser.staff_LName }} <span class="caret"></span></a>
        </li>
        <li>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addStudent" style="margin-top: 5px; margin-right: 5px">Add Student</button>
        </li>
        <li>
            <button type="button" class="btn btn-warning" style="margin-top: 5px; margin-right: 5px" target="_blank" (click)="generateReport()">Report</button>
        </li>
        <li>
            <button type="button" class="btn btn-danger" (click)="logout()" style="margin-top: 5px; margin-right: 5px">Logout</button>
          </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="addStudent" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" class="modal-header-primary">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="ajax-register-form" action="http://phpoll.com/register/process" method="post" role="form" autocomplete="off">
                      <h1 style="color: rgb(19, 13, 13); text-transform: uppercase; margin-bottom: 10px">Add Student</h1>
                      <fieldset>
                      <div class="form-group">
                        <input type="text" [(ngModel)]="student.studInitials" name="Initials" id="username" tabindex="1" class="form-control" placeholder="First Name" value="">
                      </div>
                      <div class="form-group">
                        <input type="email" [(ngModel)]="student.studSurname" name="Last_Name" id="studSurname" tabindex="1" class="form-control" placeholder="Last Name" value="">
                      </div>
                      <div class="form-group">
                        <input type="text" [(ngModel)]="student.studNo" maxlength="9" pattern="[0-9]+" name="studNo" id="password" tabindex="2" class="form-control" placeholder="Student No">
                      </div>
                      <div class="form-group">
                        <input type="email" [(ngModel)]="student.student_Email" name="Email"  tabindex="2" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control" placeholder="Email" #prmEmail="ngModel">
    
                          <div *ngIf="prmEmail.errors"> 
                            <div class="alert alert-danger" *ngIf="prmEmail.errors.required"> 
                                 Email required.
                            </div>			   
                            <div class="alert alert-danger" *ngIf="prmEmail.errors.pattern"> 
                                 Email not valid.
                            </div>	
                        </div> 
                      </div>
                      <div class="form-group">
                          <input type="email" [(ngModel)]="student.projectName" name="Email"  tabindex="2" class="form-control" placeholder="project Name">
                        </div>
                        <select class="form-control" style="height:40px" [(ngModel)]="student.studGroup" (ngModelChange)="onChangeObj($event)" name="group">
                            <option value="12" selected disabled>Select Group</option>
                            <option *ngFor="let s of groups;let x = index" [ngValue]="s.Group_Id">{{ s.Group_Name }}</option>
                        </select>
                      <input type="hidden" class="hide" name="token" id="token" value="7c6f19960d63f53fcd05c3e0cbc434c0">
                     </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddStudentInfo()">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-grading></app-grading>
    </div>
  </div>
</div>



